---
import { menuLinks } from '../site.config';

const { year } = Astro.props;
---
<footer
  class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-20 pb-4 text-center align-top font-semibold text-zinc-500 dark:text-poi-muted/50 sm:flex-row sm:justify-between sm:text-xs"
>
  <div class="me-0 sm:me-4">
    &copy; ykts.net {year}.<span class="inline-block">&nbsp;Katsuhiro Yamakawa</span>
  </div>
  <nav
    aria-labelledby="footer_links"
    class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-zinc-400 dark:sm:divide-poi-muted/30"
  >
    <p id="footer_links" class="sr-only">More on this site</p>
    {menuLinks.map((link) => (
  <a
    class="px-4 py-2 hover:text-zinc-900 dark:hover:text-poi-focus hover:underline sm:py-0"
    href={link.path}
  >
    {link.title}
  </a>
))}
  </nav>
</footer>
